*~
*#
*.swp
*.log

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache

/doc/_apidoc/
src/backend/src/greenalytics/build
src/backend/src/greenalytics/.DS_Store
node_modules/
.DS_Store
greenalytics/
